.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    flex: 0 1 calc(20% - 10px);
    box-sizing: border-box;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 4px var(--primary-color);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.item:hover {
    font-size: 40px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

.approve {
    width: 70px;
    height: 70px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    background-color: var(--primary-color);
}

.discard {
    width: 70px;
    height: 70px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    background-color: var(--secondary-color);
}

.approve:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}

.discard:hover {
    cursor: pointer;
    background-color: var(--secondary-color-hover);
}

.icon {
    padding-top: 4px;
    font-size: 30px;
}

.controlsWrapper {
    display: flex;
    width: 800px;
    justify-content: space-around;
    align-items: center;
}