.header {
    width: 100%;
    display: flex;
}

.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    flex: 1;
    width: 100%;
}

.linksWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    width: 300px;
}

.homePage:hover {
    cursor: pointer;
}