@keyframes rotate360 {
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}

.globalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 120px;
    border-right: 2px solid var(--primary-color);
    border-left: 2px solid var(--primary-color);
    transition: width 0.2s ease-in-out;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    min-width: 100px;
    margin: 0 5px;
    box-sizing: border-box;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 4px var(--primary-color);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.item:hover {
    font-size: 44px;
}

.title {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: 500;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-width: 70px;
    min-height: 70px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    background-color: #ccc;
}

.btn:hover {
    animation: rotate360 0.4s ease-in-out;
    cursor: pointer;
    background-color: #b4b4b4;
}

.icon {
    font-size: 30px;
}
