@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #4EBB73;
    --primary-color-hover: #48aa69;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

body, html {
    height: 100%;
}