@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #4ebb73;
    --primary-color-hover: #48aa69;
    --secondary-color: #ff5a5f;
    --secondary-color-hover: #e7474d;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

body, html {
    height: 100%;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100vh - (70px + 35px));
}