.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
    margin: 0 10px;
    width: 90px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color-hover);
}